body
{
    margin: 0;
}
header h3
{
    text-transform: uppercase;
    padding: 20px;
    border-bottom: solid 6px skyblue;
    text-align: center;
    font-size: 30px;
    font-size: medium;
    font-style: oblique;
}
.p
{
    font-size: 20px;
    text-align: center;
}

img
{
    flex: 2 200px;
    margin: 25px 25px;
    
}

.gallary
{
    display: flex;
    flex-flow: column wrap;
}

