body
{
    margin: 0px;
    
}


article {
    padding: 10px;
    margin: 10px;
    background:gray;
    color: white;
    flex: 1 200px;
    
  }

section
  {
      display: flex;
      flex-direction: row;
      background-color: orange;
      margin-bottom: 10px;
      
  }

